<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="keywords"
    content="way, localization, vision and language, visual dialog, deep learning, computer vision, neural networks, machine learning">

  <link rel="shortcut icon" href="{{site.baseurl}}/static/img/way/favicon2.png">

  <title>{{ page.urltitle }}</title>
  <meta name="description" content="{{site.description}}">

  <!--Open Graph Related Stuff-->
  <meta property="og:title" content="Where Are You? Localization from Embodied Dialog" />
  <meta property="og:url" content="https://github.com/meera1hahn/Graph_LED/" />
  <meta property="og:description" content="{{site.description}}" />
  <meta property="og:site_name" content="Where Are You? Localization from Embodied Dialog" />
  <meta property="og:image" content="https://meerahahn.github.io/way/static/img/way/WAY.jpg" />
  <meta property="og:image:url" content="https://meerahahn.github.io/way/static/img/way/WAY.jpg" />

  <!-- CSS  -->
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/static/css/main.2f91a3.css" media="screen,projection">
</head>